CYPRESS_BASE_URL=http://localhost:3000
CYPRESS_ADMIN_EMAIL=admin@test.com
CYPRESS_ADMIN_PASSWORD=your_admin_password
CYPRESS_USER_EMAIL=user@test.com
CYPRESS_USER_PASSWORD=your_user_password
CYPRESS_VIEWPORT_WIDTH=1280
CYPRESS_VIEWPORT_HEIGHT=720